# Ignore everything in the root except the "wp-content" directory.
# /*
# !.gitignore
libs/
libs/ace
.gitignore
.editorconfig
# !popup.html
# !manifest.json
# !README.md

# !content.css
# !popup.css

# !content.js
# !eventpage.js
# !popup.js

# MAC Finder files
**/.DS_Store
.DS_Store


!/.github/
# use
.vscode

.editorconfig

content.backup.js
eventpage.backup.js
examples/delete_reddit.js
popup_05022023.js
manifestv2.json
popup_refactored.js
